/* src/styles/global.css */
@import './colors.css';
@import './fonts.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'ZenMaruGothic';
    font-weight: 400;
    font-size: 16px;
    background-color: var(--background-color);
    height: 100%;
    color: var(--primary-text-color);
  }
  
h1{
    display: block;
    font-size: 32px;
    font-family: 'ZenMaruGothic';
    font-weight: 900;
    margin: 0;
}
h2{
    display: block;
    font-size: 20px;
    font-family: 'ZenMaruGothic';
    font-weight: 700;
    margin: 0;
}
h3{
    display: block;
    font-size: 16px;
    font-family: 'ZenMaruGothic';
    font-weight: 500;
    margin: 0;

}
h4{
    display: block;
    font-size: 14px;
    font-family: 'ZenMaruGothic';
    font-weight: 500;
    margin: 0;
    color: var(--second-text-color);
}
h5{
    display: block;
    font-size: 14px;
    font-family: 'ZenMaruGothic';
    font-weight: 400;
    margin: 0;
    color: var(--second-text-color);
}
h6{
    display: block;
    font-size: 16px;
    font-family: 'ZenMaruGothic';
    font-weight: 400;
    margin: 0;
}
