.task{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--light-background-color);
    padding-bottom: 10px;
    
}
.task__title{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.task__info{
    display: flex;
    flex-direction: column;
    color: var(--second-text-color);
    padding-left: 30px;
}

.task__tags{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--second-text-color);

}
.task__tag{
    background-color: var(--header-background-color);
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 14px;
}
.circle-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--dark-blue-color);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.circle-btn.done {
    background-color: var(--dark-blue-color);
}

.circle-btn.not-done {
    background-color: transparent;
}